.lumen_grid {
  margin: 0 -10px $gutter-width -10px;
  @include clearFix();
  zoom: 1;

  [class*='lumen-grid_col-']  {
    float: left;
    @include box-sizing(border-box);
    padding: 0 calc(20px / 2);
  }
}

.lumen-grid_col-1  {width: 8.33%;}
.lumen-grid_col-2  {width: 16.66%;}
.lumen-grid_col-3  {width: 25%;}
.lumen-grid_col-4  {width: 33.33%;}
.lumen-grid_col-5  {width: 41.66%;}
.lumen-grid_col-6  {width: 50%;}
.lumen-grid_col-7  {width: 58.33%;}
.lumen-grid_col-8  {width: 66.66%;}
.lumen-grid_col-9  {width: 75%;}
.lumen-grid_col-10 {width: 83.33%;}
.lumen-grid_col-11 {width: 91.66%;}
.lumen-grid_col-12 {width: 100%;}


.off-1 {
  margin-left: 8.333333333333334%;
}

.off-2 {
  margin-left: 16.666666666666668%;
}
.off-3 {
  margin-left: 25%;
}
.off-4 {
  margin-left: 33.333333333333336%;
}
.off-5 {
  margin-left: 41.666666666666664%;
}
.off-6 {
  margin-left: 50%;
}
.off-7 {
  margin-left: 58.333333333333336%;
}
.off-8 {
  margin-left: 66.66666666666667%;
}
.off-9 {
  margin-left: 75%;
}
.off-10 {
  margin-left: 83.33333333333333%;
}
.off-11 {
  margin-left: 91.66666666666667%;
}
.off-12 {
  margin-left: 100%;
}
