// /******
//   Layout Styles may include:
// *******/

.lumen-wrapper {

}

.questions {}

//Margins Top
.m-top-xl {
  margin-top: 64px;
}
.m-top-l {
  margin-top: 48px;
}
.m-top-m {
  margin-top: 32px;
}
.m-top {
  margin-bottom: 24px;
}
.m-top-s {
  margin-top: 16px;
}
//Margins Bottom
.m-bottom-xl {
  margin-bottom: 64px;
}
.m-bottom-l {
  margin-bottom: 48px;
}
.m-bottom-m {
  margin-bottom: 32px;
}
.m-bottom {
  margin-bottom: 24px;
}
.m-bottom-s {
  margin-bottom: 16px;
}
