// /******
//   Layout Styles may include:
// *******/


.lumen-wrapper{
 // width: 960px;
}
.lumen-content {
  // width: 89%;
  // width: 1367px;
  // margin: 0 auto;
  /* max-width: 1454px; */
  height: 100vh;
  margin: 0 auto;
  margin: 0 5.55555%;
  //@include padding (20);
  padding: 0 #{($ggs-line/2)/$em}em;
  @include box-sizing(border-box);
}

//Margins Top
.m-top-xl {
  margin-top: 64px;
}
.m-top-l {
  margin-top: 48px;
}
.m-top-m {
  margin-top: 32px;
}
.m-top {
  margin-bottom: 24px;
}
.m-top-s {
  margin-top: 16px;
}
//Margins Bottom
.m-bottom-xl {
  margin-bottom: 64px;
}
.m-bottom-l {
  margin-bottom: 48px;
}
.m-bottom-m {
  margin-bottom: 32px;
}
.m-bottom {
  margin-bottom: 24px;
}
.m-bottom-s {
  margin-bottom: 16px;
}
