// /******
//   Layout Styles for ....:
// *******/


body.lumen-wrapper{
  background-color: $lumen-color1;
}

.lumen-content {
  color: $lumen-color2;
}

section.page-questions-section {

}

// Other stylesheet
.dome_title {
  font-family: $lumen-font-bookmania;
  font-weight: 800;

  &-center {
    text-align: center;
  }
}
.dome-title-1 {
  font-size: 64px;
  line-height: calc(64px * 1);
}
.dome_title-2 {
  font-size: 32px;
  line-height: calc(32px * 1);
}
.dome_title-3 {
  font-size: 35px;
  line-height: calc(35px * 1);
}

.dome_title-3-special {
  font-size: 42px;
  margin-top: -30px;
  margin-bottom: 30px;
  text-align: center;;
}
.dome-c {
  font-size: 28px;
  line-height: calc(28px * 1);
  font-weight: 300 !important;
}

.dome-c-l {
  font-size: 32px;
  line-height: calc(32px * 1);
  margin-bottom: 32px;
  font-weight: 300 !important;

}
.dome-c-s {
  font-size: 12px;
  font-weight: 400;
}
hr {
  border:none;
  border-top: 5px dotted $lumen-color2;
  color:#fff;
  height: 1px;
  width:100%;
}

.keyboard-key {
  float: right;

  span {
    font-size: 32px;
    float: left;
    margin-right: 20px;
  }
}
.keyboard-key-return {
  float: left;
  background:url(../../assets/svg/enter.svg);
  border:0;
  display:block;
  height:60px;
  width: 125px;
}
.question {
  margin: 100px auto;
  width: 900px;
}


.directions {
  width: 475px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
.keyboard-key-arrow {
  background:url(../../assets/svg/arrows.svg);
  border: 0;
  display: block;
  height: 36px;
  width: 80px;
  margin: 10px auto 100px;
  background-size: 80px;
}
.directions div {
  float: left;
  width: 50%;
  @include clearFix();
}

.keyboard-key-teb-ect {
  background:url(../../assets/svg/enter.svg);
  border: 0;
  display: block;
  height: 38px;
  width: 80px;
  margin: 0px auto;
  background-size: 80px;
}
