/******
  Base Styles may include:
  — Global Reset
  -
*******/
@import 'reset';

html {
  height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
  @include box-sizing(border-box);
  position: relative;
  color: $lumen-color1;
  background-color: $lumen-color2;
  min-height: 100%;
  font-size: 100%;
}
