/******
  Base Styles may include:
  — Global Reset
  -
*******/
@import 'reset';

html,
body {}
body {
  //min-width: 400px;
  max-width: 1367px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  @include padding (20);
  color: $lumen-color1;
  background-color: $lumen-color2;
}
