/******
  Varibles Styles may include:
  —
*******/

// Typography
// Typekit | If you’re using a plugin or service that asks for a Typekit Kit ID, use this: wbv8ico
@import url("https://use.typekit.net/wbv8ico.css");

$lumen-font-raleway: "raleway",sans-serif;
$lumen-font-bookmania: "bookmania",serif;
$rem-base-font: 16;
$em: $rem-base-font * 1;

// Color
$lumen-color1: #0B2924;
$lumen-color2: #EEE5DE;
$lumen-color3: #FFFFFF;
$lumen-color4: #edf1f2;
$lumen-color5: #404040;


// GGS Important numbers
$ggs-line: 24;
$ggs-column: 100% / 16;
$gutter-width: 20px; // not GGS Related


// Shapes & Buttons
$radius: 5;

// Motion
$transition-speed: all 0.3s ease-in-out;


// Media Variable | @include respond-to(media-type-here)
// Source https://css-tricks.com/snippets/css/media-queries-for-standard-devices/

// iPhone 4 and 4S Portrait and Landscape
$iphone-4:" (min-device-width: 320px)
            and (max-device-width: 480px)
            and (-webkit-min-device-pixel-ratio: 2)";

// iPhone 5, 5S, 5C and 5SE Portrait and Landscape
$iphone-5:" (min-device-width: 320px)
            and (max-device-width: 568px)
            and (-webkit-min-device-pixel-ratio: 2)";

// iPhone 6, 6S, 7 and 8 Portrait and Landscape
$iphone-6:" (min-device-width: 375px)
            and (max-device-width: 667px)
            and (-webkit-min-device-pixel-ratio: 2)";

// iPhone 6+, 7+ and 8+ Portrait and Landscape
$iphone-6-plus:" (min-device-width: 414px)
                 and (max-device-width: 736px)
                 and (-webkit-min-device-pixel-ratio: 3)";

// iPhone X Portrait and Landscape
$iphone-10:" (min-device-width: 375px)
             and (max-device-width: 812px)
             and (-webkit-min-device-pixel-ratio: 3)";

// iPad 1, 2, Mini and Air Portrait and Landscape
$ipad-mini:" (min-device-width: 768px)
           and (max-device-width: 1024px)
           and (-webkit-min-device-pixel-ratio: 1)";

// iPad 3, 4 and Pro 9.7 Portrait and Landscape
$ipad-pro:" (min-device-width: 768px)
             and (max-device-width: 1024px)
             and (-webkit-min-device-pixel-ratio: 2)";
