/******
  Froms Styles may include:
  —
*******/

.question-card {
  background-color: $lumen-color3;
  color: $lumen-color1;
  padding: 40px;
  @include box-sizing(border-box);
  @include border-radius($radius);
}
