/******
  Froms Styles may include:
  —
*******/

.lumen_form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 65px;
}
.lumen_input-lable {
  margin-bottom: 50px;
  text-align: center;
}

.lumen_input {
  border-bottom: 2px solid $lumen-color2;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  outline: none;
  background: 0 0;
  color: $lumen-color2;
}
.lumen_input::placeholder {
  color: $lumen-color2;
}
.lumen_input-textarea {
  width: 100%;
  overflow: auto;

}







// .lumen_input-checkbox {}
// .lumen_input-radio {}

// input, textarea, button, select {
// 	margin: 0;
// 	font-size: 100%;
// 	line-height: normal;
// 	vertical-align: baseline;
// }
// button,
// html input[type="button"],
// input[type="reset"],
// input[type="submit"] {
//     cursor: pointer;
//     -webkit-appearance: button;
// }
// table {
//     border-collapse: collapse;
//     border-spacing: 0;
// }
